# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea/
/core/target/
/s3/target/
/sftp/target/
/target/
/core/core.iml
/s3/s3.iml
/sftp/sftp.iml
/ftp/target/
/ftp/ftp.iml
/archive/target/
/rocksdb/target/classes/META-INF/services/net.microfalx.resource.ResourceResolver
/rocksdb/target/maven-shared-archive-resources/META-INF/DEPENDENCIES
/rocksdb/target/maven-shared-archive-resources/META-INF/LICENSE
/rocksdb/target/maven-shared-archive-resources/META-INF/NOTICE
/rocksdb/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/rocksdb/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/rocksdb/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/rocksdb/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/rocksdb/target/surefire-reports/net.microfalx.resource.rocksdb.RocksDbManagerTest.txt
/rocksdb/target/surefire-reports/TEST-net.microfalx.resource.rocksdb.RocksDbManagerTest.xml
/rocksdb/target/.plxarc
